/* Untuk Tablet */
@media all and (max-width: 1000px) {

    /* Stylesheet Lutfi */
    .hal-utama h1 {
        font-size: 32px;
    }

    /* Stylesheet data4pass */
    .heading-ekstra-1 h2 {
        font-size: 20px;
    }

    .lesson {
        width: 50%;
        margin-bottom: 25px;
    }

    .lesson-icon img {
        width: 150px;
    }

    /* Stylesheet M. Akbar Insani */
    .heading-ekstra-2 h2 {
        font-size: 20px;
    }

    .cards {
        justify-content: center;
        flex-wrap: wrap;
    }

    .card {
        width: 25%;
        margin: 30px 20px;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .btn {
        width: 100%;
    }

    /* Stylesheet Moni Yunitasari */
    .header-right {
        display: none;
    }

    .topnav .header-right a {
        display: none;
    }

    .topnav .header-left,
    .topnav .header-right {
        float: none;
    }

    .header-left h1 {
        font-size: 20px
    }

    .topnav .responsive {
        position: relative;
    }

    .menu-icon {
        display: block !important;
        float: right;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav .responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    .topnav .header-right .responsive a {
        display: inline-block;
    }

    .logo {
        width: 120px;
        float: right;
        margin-right: 50px;
    }

    /* Stylesheet Lutfi */
    .hal-utama {
        text-align: left;
    }

    .dts {
        margin-bottom: 10px;
    }

    .hal-utama h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .hal-utama p {
        font-size: 14px;
        line-height: 20px;
    }

    /* Stylesheet data4pass */
    .lessons {
        flex-direction: column;
    }

    .lesson {
        width: 100%;
    }

    .lesson-icon img {
        width: 150px;
    }

    .ekstra-1 {
        padding-bottom: 20px;
    }

    /* Stylesheet Akbar Insani */
    .cards {
        justify-content: center;
        flex-direction: column;
    }

    .card {
        width: 50%;
        margin: 30px auto;
    }

    /* Stylesheet kriskiluki */
    footer {
        text-align: center;
    }

    .f1 {
        height: 120px;
    }

    .footer-logo img {
        height: 25px;
        width: auto;
    }
}