*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Lucida Grande";
}

a {
    text-decoration: none;
}

.clear {
    clear: left;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
}

.btn:hover {
    opacity: 1;
}

/* Stylesheet Moni Yunitasari */

.container-header {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 65px;
    width: 100%;
    background-color:rgba(48, 51, 107,1.0);
    position: fixed;
    top: 0;
    z-index: 10;
}

.menu-icon {
    display: none;
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
}

.logo {
    width: 120px;
    opacity:0.8; padding: 0 5px;
}

.header-left {
    float: left;
}

.header-left h1 {color: white;
float:left; padding: 0 10px; opacity: 0.8;
line-height: 30px}
.header-right {
    float: right;
    margin-right: -25px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}

.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* End Stylesheet Moni Yunitasari */

/* Stylesheet Lutfi */

.hal-utama {
    padding: 180px 0 100px 0;
    background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
    background-size: cover;
    color: white;
    text-align: center;
}

.hal-utama h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.hal-utama p {
    opacity: 0.7;
    margin-bottom: 3px;
}

.container-hal-utama {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.btn-wrapper {
    text-align: center;
    margin: 20px 0;
}

.btn-wrapper p {
    margin: 10px 0;
}

.signup {
    background-color: #239b76;
}

.facebook {
    background-color: #3b5998;
    margin-right: 10px;
}

.twitter {
    background-color: #55acee;
}

.fa {
    margin-right: 5px;
}

/* End Stylesheet Lutfi */

/* Stylesheet data4pass */
.lessons{
    display:flex;
    justify-content: center;
}
.lesson-icon img{
    width: 200px;
}
.container-ekstra-1 {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.ekstra-1 {
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #f7f7f7;
    text-align: center;
}

.heading-ekstra-1 {
    padding-top: 80px;
    padding-bottom: 25px;
    color: #5f5d60;
}

.heading-ekstra-1 h2 {
    font-weight: normal;
}

.lesson {
    float: left;
    width: 25%;
}

.lesson-icon {
    position: relative;
}

.lesson-icon p {
    margin-bottom: 0;
    width: 100%;
    color: #222;
}

.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color: #b3aeb5;
}

/*End Stylesheet data4pass */

/* Stylesheet M. Akbar Insani */
.ekstra-2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 0;
    text-align: center;
}

.container-ekstra-2 {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.heading-ekstra-2 {
    padding-top: 80px;
    padding-bottom: 20px;
    color: #5f5d60;
}

.heading-ekstra-2 h2 {
    font-weight: normal;
}

.heading-ekstra-2 span {
    font-weight: bold;
    color: #ff4a4a;
}

.cards {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    background-size: cover;
    box-shadow: 1px 1px 4px black;
    margin: 30px auto;
    border-radius: 10px;
}

/* Animation on Scroll */
@keyframes anim1 {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate {
    opacity: 0;
  }

.card .img img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.profile {
    text-align: center;
}

.card .profile img{
    width: 80px;
    height: 80px;
    border: 5px solid white;
    margin-top: -45px;
    border-radius: 50%;
    background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
    background-position: -34px 59px;
    background-size: cover;
    transition: transform 0.5s;
}

.profile img:hover {
    transform: scale(1.1);
}

.profile h6 {
    margin-top: -15px;
    color: grey;
    font-size: 8px;
    letter-spacing: 2px;
}

.icons a {
    text-decoration: none;
    color: black;
    margin: 20px 10px;
    font-size: 20px;
    display: inline-block;
    transition: transform 0.6s;
}

.icons a:hover {
    color: #543276;
    transform: scale(1.5);
}
/* End Stylesheet M. Akbar Insani */

/* Stylesheet kriskiluki */

.f1{
  background-color: rgb(98, 97, 112);
  height: 120px;
}
.f2{
  background-color: black;
  height: 30px;
}
.f2 p{
  color: white;
  margin:0px;
  padding-top: 3px;
}
footer{
  text-align: center;
}

/* Tambahan krinskiluki 2 */
.sub {
  color: #02ccba;
  float: left;
  width: 33%;
}
.sub h4{
  color: aliceblue;
  margin-bottom: 10px;
}
.sub p{
  color: aliceblue;
  width: 50%;
  margin: auto;
  font-size: 14px;
}
.fa-footer {
  margin:5px;
  color: rgb(98, 97, 112);
}
.twitter-footer {
  background-color: #dfe6a9;
}
.instagram-footer {
  background-color: #dfe6a9;
}
.facebook-footer {
  background-color: #dfe6a9;
}
.envelope-footer {
  background-color: #dfe6a9;
}
.youtube-footer {
  background-color: #dfe6a9;
}
.btn-footer {
  height: 40px;
  width: 40px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius:50%;
  transition: all 0.5s;
  
}
.btn-footer:hover{
  height: 45px;
  width: 45px;
  background-color: rgb(185, 184, 197);
}

/* End Stylesheet kriskiluki */
